*
{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    background-color: rgb(204, 204, 204);
}

h1
{
    font-size: 40pt;
    padding: 0 0 1.5% 1.5%;
}

h3
{
    font-size: 16pt;
    padding: 0 0 1.5% 1.5%;
}

p
{
    padding: 0 0 1.5% 1.5%;
}


code
{
    padding: 0 0 1.5% 1.5%;
}

.code-divider
{
    margin-bottom: 4%;
}